@using PagedList;
@using PagedList.Mvc;  
@model WebApp.Models.ContactListViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Contacts</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_ContactList", Model.list)


@Html.Partial("_paging", Model.pager)

@Html.Partial("_ToasterView")

